@import "./variables.css";
@import "./button.css";
@import "./text-textarea-select.css";
@import "./checkbox-radio.css";
@import "./toggle.css";
@import "./file.css";
@import "./select-custom.css";

@import "./range/input-reset.css";
@import "./range/input.css";
@import "./range/trackline.css";

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

#box {
  margin: 0 auto;
  max-width: 400px;
  height: 500px;
}

h3 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}
