select.is-invalid + .penta-select-enhanced {
  border-color: var(--red-text);
}

.penta-select-enhanced {
    --dropdown-border-radius: .75rem;
    --dropdown-box-shadow: 0 0 2px #ccc;
    --option-height: 2.5rem;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: var(--form-border-radius);
  border: var(--form-border-width) solid var(--gray-extra-light);
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  font-weight: normal;
  height: var(--input-height);
  line-height: calc(var(--input-height) - 2);
  outline: none;
  /* padding: 0 .5rem 0 1rem; */
  padding: 0 1rem 0 1rem;
  position: relative;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto;
  display: flex;
  align-items: center;

  &:hover {
    border-color: var(--gray-light);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.10);
  }
  &:active, &:focus {
    border-color: var(--primary-color);
    box-shadow: var(--form-ring-shadow);
    outline: none;
  }
  .with-a11y &:focus {
    box-shadow: 0 0 0 2px #fff,0 0 0 4px #0b2aa1;
    outline: 0;
    border-radius: var(--form-border-radius);
  }
  .current, .multiple-options {
    flex: 1;
  }

  .arrow {
    color: white;
    display: block; 
    pointer-events: none;
    height: 20px;
    width: 20px;
    background-color: var(--primary-color);
    background-image: url(../images/arrow.svg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all 0.15s ease-in-out;
    transform: rotate(-180deg);
  }
  

  /* &.disabled {
    border-color: lighten(var(--blue-gray-light), 2%);
    color: var(--gray);
    pointer-events: none;
    &:after { 
      border-color: lighten(var(--gray), 20%);
    }
  }
  
  &.wide {
    width: 100%;
    .penta-select-dropdown {
      left: 0 !important;
      right: 0 !important;
    }
  }
 */

  .penta-select-dropdown{
    margin-top: 1px;
    background-color: #fff;
    border-radius: 0 0 var(--dropdown-border-radius) var(--dropdown-border-radius);
    border: solid var(--gray-extra-light);
    border-width: 0 1px 1px 1px;
    box-shadow: var(--dropdown-box-shadow);
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: var(--form-border-radius);
    right: var(--form-border-radius);
    transform-origin: 50% 0;
    transform: translateY(-20px);
    transition: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
    z-index: 9;
    opacity: 0;
  }

  &.reversed {
    .penta-select-dropdown {
      bottom: 100%;
      top: auto;
      margin-top:0;
      margin-bottom: 1px;
      border-radius: var(--dropdown-border-radius) var(--dropdown-border-radius) 0 0 ;
      transform: translateY(+20px);
  
      .list {
        margin: 0 0 4px 0;
      }
    }
  }
  &.open {
    /* @extend :active; */
    .arrow {
      transform: rotate(0deg);
    }
    .penta-select-dropdown {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1) translateY(0);
    }
  }


  .list {
    box-sizing: border-box;
    overflow: hidden;
    margin: 4px 0 0;
    padding: 0;
    max-height: 210px;
    overflow-y: auto;

    &:hover .option:not(:hover) {
      background-color: transparent !important;
    }
  }
  .option {
    border-radius: var(--form-border-radius);
    cursor: pointer;
    font-weight: 400;
    height: var(--option-height);
    list-style: none;
    outline: none;
    padding-left: calc(1rem - var(--form-border-radius));
    padding-right: 1rem;

    transition: all 0.2s;
    display: flex;
    align-items: center;

    .fake-input {
      margin-right: .5rem;
    }
    .fake-label {
      margin-top: 4px;
    }

    &:hover, &.focus, &.selected.focus { 
      background-color: var(--primary-color-lighter);
    }
    .with-a11y &.focus {
      box-shadow:inset 0 0 0 2px #eac800;
      outline: 0;
  }
    &.selected { 
      font-weight: bold;
    }
    &.disabled {
      background-color: transparent;
      color: var(--gray);
      cursor: default;
    }
  }
  
  .optgroup{
    font-weight: bold;
  }
}

.no-csspointerevents .penta-select {
  .penta-select-dropdown {
    display: none;
  }
  &.open {
    .penta-select-dropdown {
      display: block;
    }
  }
}


.penta-select .list::-webkit-scrollbar {
  width: 0
}




.penta-select{
  .has-multiple {
    white-space: inherit;
    height: auto;
    padding: 7px 12px;
    min-height: 36px;
    line-height: 22px;

    span.current {
      border: 1px solid #CCC;
      background: #EEE;
      padding: 0 10px;
      border-radius: 3px;
      display: inline-block;
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 3px;
      margin-right: 3px
    }

    .multiple-options {
      display: block;
      line-height: 24px;
      padding: 0
    }
  }

  .penta-select-search-box {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    pointer-events: none;
    border-radius: 5px 5px 0 0;
  }

  .penta-select-search {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid var(--gray-extra-light);
    border-radius: 3px;
    color: var(--gray-dark);
    display: inline-block;
    vertical-align: middle;
    padding: 7px 12px;
    margin: 0 10px 0 0;
    width: 100%;
    min-height: 36px;
    line-height: 22px;
    height: auto;
    outline: 0!important;
  }
}