.penta-select-custom {
  &, * {
    box-sizing: border-box;
  }

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: var(--form-border-radius);
  border: var(--form-border-width) solid var(--gray-extra-light);
  cursor: pointer;
  height: var(--input-height);
  outline: none;
  padding: 0 1rem 0 1rem;
  position: relative;
  user-select: none;
  transition: var(--transition-border), var(--transition-shadow);

  /* ne revient pas à la ligne*/
  white-space: nowrap;
  display: flex;
  align-items: center;

  &:hover {
    border-color: var(--gray-light);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.10);
  }
  &:active, &:focus {
    border-color: var(--primary-color);
    box-shadow: var(--form-ring-shadow);
    outline: none;
  }
  .with-a11y &:focus {
    box-shadow: 0 0 0 2px #fff,0 0 0 4px #fadf30;
    outline: 0;
    border-radius: var(--form-border-radius);
  }
  &.disabled {
    background-color: var(--gray-extra-light);
    cursor: not-allowed;

    /* cool plus besoin de gérer les hover */
    pointer-events: none;

    .arrow {
      opacity: .5;
    }
  }
  
  .selection {
    flex: 1;
    width: 0;
    overflow: hidden;
    height: calc(var(--input-height) - 2 * var(--form-border-width));
    display:flex;
    align-items: center;
  }
  .tag {
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: .25rem .5rem;
    margin: 0 .125rem;
  }

  .arrow {
    display: block; 
    pointer-events: none;
    height: 20px;
    width: 20px;
    background-color: var(--primary-color);
    background-image: url(/pentatrion-theme/arrow.svg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all 0.15s ease-in-out;
    transform: rotate(-180deg);
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: var(--form-border-radius);
    right: var(--form-border-radius);

    margin-top: var(--form-border-width);
    background-color: #fff;
    border-radius: 0 0 var(--dropdown-border-radius) var(--dropdown-border-radius);
    border: solid var(--gray-extra-light);

    border-width: 0 var(--form-border-width) var(--form-border-width) var(--form-border-width);
    box-shadow: var(--dropdown-box-shadow);
    pointer-events: none;
    transition: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
    z-index: 9;
    transform: translateY(-20px);
    opacity: 0;
    
  }
  &.reversed {
    .dropdown {
      bottom: 100%;
      top: auto;
      margin-top: 0;
      margin-bottom: var(--form-border-width);
      border-radius: var(--dropdown-border-radius) var(--dropdown-border-radius) 0 0 ;
      transform: translateY(20px);
    }
    .list {
      margin: 0 0 4px 0;
    }
  }
  &.open {
    .arrow {
      transform: rotate(0deg);
    }
    .dropdown {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }
  }

  .search-box {
    padding: 5px;
    pointer-events: none;
  }

  .search-input {
    width: 100%;
  }

  .list {
    overflow: hidden;
    margin: 4px 0 0;
    padding: 0;
    max-height: 210px;
    overflow-y: auto;
  }
  .option {
    border-radius: var(--form-border-radius);
    cursor:pointer;
    height: var(--option-height);
    outline: none;
    /* to be aligned with selectTitle which is 1rem */
    padding-left: calc(1rem - var(--form-border-radius));
    padding-right: 1rem;

    transition: var(--transition-background);
    display: flex;
    align-items: center;

    .fake-input {
      margin-right: .5rem;
    }
    .fake-label {
      margin-top: 4px;
    }

    &:hover, &.focus, &.selected.focus {
      background-color: var(--primary-color-light);
    }
    .with-a11y &.focus {
      box-shadow:inset 0 0 0 2px #eac800;
      outline: 0;
    }
    &.selected {
      font-weight: bold;
    }
    &.disabled {
      background-color: transparent;
      color: var(--gray);
      cursor: default;
    }
  }
  .optgroup{
    font-weight: bold;
    padding-left: calc(1rem - var(--form-border-radius));

  }
}