/*************
 * Variables *
 *************/

:root {
  --grey50: #e7e7e7;
  --grey200: #ccc;
  --gray: #999;
  /* --grey700: #333; */

  --primary-color100: #ffed7e;
  --primary-color: #ffe64b;
  --primary-color600: #fadf30;
  --primary-color700: #eac800;
  --primary-color-text: #000000;

  --red-text: #dc3545;
  --red50: #f8d7da;

  --form-border-radius: 0.25rem;
  --form-border-width: 1px;
  --form-ring-shadow: 0 0 1px 3px #eee;

  --transition-border: border-color 0.3s ease;
  --transition-shadow: box-shadow 0.3s ease;
  --transition-background: background-color 0.3s ease;

    /* for penta-select */
  --input-height: 2.5rem;
  --option-height: 2rem;
  --dropdown-border-radius: .75rem;
  --dropdown-box-shadow: 0 0 2px #ccc;

  /* for input range */
  --range-input-height: 36px;
  --range-track-height: 8px;

  --form-gap: 2rem;
}
/* 
--red: #842029;
--red50: #f8d7da;

--green-light: #d1eacf;
--green: #2b5229;

--orange: rgb(217, 142, 1);

--blue-light: #e6e8ef;
--blue-prestashop: #bbcdd2;
*/